<%- include('partials/head.ejs')%>
<%- include('partials/header.ejs')%> 
            <div class='myProgress'>
               <% if(!dailyMeals && !measures){%>
                <form action='/forms' method="GET" class='new'>
                    <input type='submit' value='Start with your registration'/>
                </form>
              <%}else{%>
                <form action="/home" method='POST' class='selectDay'>
                    <label for='selectDay'>Select date:</label>
                    <input type="date" name='selectDay' id='selectDay' required>
                    <input type="hidden" name='action' value='seach'>
                    <input type="submit" value='Seach'>
                </form>
                <div class='mainInfo'>
                    <div>
                        <h3>My data</h3>
                        <% if(typeof measures === "string"){%>
                            <div>
                                <p><%= measures %></p>
                            </div>
                        <%}else{%>
                            <div>
                                <h3><%=measures && measures.toDay%></h3>
                                <lu>
                                    <li>Weight: <%=measures ? measures.weight : '-' %> kg</li>
                                    <li>Chest: <%=measures? measures.chest : '-' %> cm</li>
                                    <li>Hip: <%=measures ? measures.hip : '-' %> cm</li>
                                    <li>Waist: <%=measures ? measures.waist : '-' %> cm</li>
                                    <li>RightThigh: <%=measures ? measures.rightThigh : '-' %> cm</li>
                                    <li>LeftThigh: <%=measures ? measures.leftThigh : '-' %> cm</li>
                                    <li>Upper arm: <%=measures? measures.upperArm : '-' %> cm</li>
                                    <li>Calf: <%=measures ? measures.calf : '-' %> cm</li>
                                </lu>
                            </div>
                        <%}%>
                        <form action='/forms' method="GET">
                            <input type="submit" value='Update'>
                        </form>
                    </div>
                    <div>
                        <% if(typeof dailyMeals === "string"){%>
                            <div>
                                <p id='message'><%= dailyMeals %></p>
                            </div>
                        <%}else{%>
                            <div>
                                <h3><%=dailyMeals && dailyMeals.toDay%></h3>
                                <h3>Breakfast</h3>
                                <p><%=dailyMeals && dailyMeals.breakfast%></p>
                                <h3>Lunch</h3>
                                <p><%=dailyMeals && dailyMeals.lunch%></p>
                                <h3>Afternoon Snack</h3>
                                <p><%=dailyMeals && dailyMeals.afternoonSnack%></p>
                                <h3>Dinner</h3>
                                <p><%=dailyMeals && dailyMeals.dinner%></p>
                            </div>
                        <%}%>
                        <form action='/forms' method="GET">
                            <input type="submit" value='Update'>
                        </form>
                    </div>
                </div>
              <% } %> 
            </div>
        <script>

        </script>
<%- include('partials/footer.ejs')%>