<%- include('partials/head.ejs')%>
<%- include('partials/header.ejs')%> 
            <div class='myProgress'>
                <% console.log(day) %>
               <% if(!day){%>
                <form action='/forms' method="GET">
                    <input type='submit' value='Start with your registration'/>
                </form>
              <%}else{%>
                <div class='mydata'>
                    <h3>My data</h3>
                    <lu>
                        <li>Weight: <%=day && day.weight %> kg</li>
                        <li>Chest: <%=day && day.chest %> cm</li>
                        <li>Hip: <%=day && day.hip %> cm</li>
                        <li>Waist: <%=day && day.waist %> cm</li>
                        <li>RightThigh: <%=day && day.rightThigh %> cm</li>
                        <li>LeftThigh: <%=day && day.leftThigh %> cm</li>
                        <li>Upper arm: <%=day && day.upperArm %> cm</li>
                        <li>Calf: <%=day && day.calf %> cm</li>
                    </lu>
                    <form action='/forms' method="GET">
                        <input type="submit" value='Upgrade'>
                    </form>
                </div>
                <div class="myRecord">
                    <h3>Breakfast</h3>
                    <p><%=day && day.breakfast%></p>
                    <h3>Lunch</h3>
                    <p><%=day && day.lunch%></p>
                    <h3>Afternoon Snack</h3>
                    <p><%=day && day.afternoonSnack%></p>
                    <h3>Dinner</h3>
                    <p><%=day && day.dinner%></p>
                </div>
                <form action='/forms' method="GET">
                    <input type="submit" value='Upgrade'>
                </form>
              <% } %> 
            </div>
        <script>

        </script>
<%- include('partials/footer.ejs')%>